@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<p>Online Store--</p>
<p>Name : Vicky Kumar Sharma </p>
<p>
    Upskill Assignment:
    <br />
    Upskill 1 : ASP.NET MVC Advance
    <br />
    Upskill Start Date: 01/05/2023<br />
    Upskill End Date: 31/08/2023
    <br />
    Task:
    Develop a sophisticated e-commerce platform using ASP.NET MVC for managing an online store. The platform should include the following features:
   <br />
    1. Implement user registration and login, along with role-based authorization. Roles should include customers, administrators, and sellers.
    <br />
    2. Sellers should be able to add, edit, and delete products. Each product should have a name, description, price, and images.
</p>

